
<div class="left">
  <a class="profile" (click)="navigateProfile()">
    <div class="profile-picture">
      <img [src]="API_URL.BACKEND_URL + 'getUploadfiles/' + UserDetails.image_url"  />
    </div>
    <div class="handle">
      <h4>{{UserDetails.user_name}}</h4>
      <p class="text-muted">@{{UserDetails.user_name}}</p>
    </div>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <a (click)="toggleHome()" class="menu-items active"
      ><span><i class="fa-solid fa-house"></i></span>
      <h3>Home</h3></a
    >
    <!-- <a href="#" class="menu-items"
      ><span><i class="fa-solid fa-compass"></i></span>
      <h3>Explore</h3></a
    > -->
    <!-- <a href="#" class="menu-items" id="notifications"
      ><span
        ><i class="fa-solid fa-bell">
          <small class="notification-count">4</small></i
        ></span
      >
      <h3>Notifications</h3>
    </a> -->
    <!-- <a href="chat.html" class="menu-items" id="messages-notifications"
      ><span
        ><i class="fa-solid fa-envelope">
          <small class="notification-count">3</small></i
        ></span
      >
      <h3>Messages</h3></a
    > -->
    <a [routerLink]="['/settings/content-settings']" class="menu-items"
      ><span><i class="fa-solid fa-bookmark"></i></span>
      <h3>Bookmarks</h3></a
    >
    <a class="menu-items" (click)="toggleFriends()"
    ><span><i class="fa-solid fa-user-group"></i></span>
    <h3>Friends</h3></a
  >
    <!-- <a href="#" class="menu-items"
      ><span><i class="fa-solid fa-chart-simple"></i></span>
      <h3>Analytics</h3></a
    > -->
    <!-- <a href="#" class="menu-items" id="theme"
      ><span><i class="fa-solid fa-palette"></i></span>
      <h3>Customize</h3></a
    > -->
    <a [routerLink]="['/settings']" class="menu-items"
      ><span><i class="fa-solid fa-gear"></i></span>
      <h3>Settings</h3></a
    >
  </div>
  <!-- CTA -->
  <label class="btn btn-primary" for="create-post">Create Post</label>
</div>
