<div>
    <h2>Blocked Accounts</h2>
              <table class="d-flex d-col">
                <thead>
                    <th>Username</th>
                    <th>Action</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Blocked User1</td>
                    <td><button class="unblock-btn">Unblock</button></td>
                  </tr>
                  <tr>
                    <td>Blocked User1</td>
                    <td><button class="unblock-btn">Unblock</button></td>
                  </tr>
                  <tr>
                    <td>Blocked User1</td>
                    <td><button class="unblock-btn">Unblock</button></td>
                  </tr>
                </tbody>
              </table>
</div>