<div>
    <h2>Notifications Settings</h2>
              <p class="text-muted">Important notifications for interactions on your account will be sent.</p>
              <div class="notification-content">
                <p class="text-center"><i class="fa-solid fa-bullhorn"></i>Push Notifications for:</p>
                <label for="commentNotifications">Comments</label><br>
                <small class="text-muted">Notifications for comments on your post.</small><br>
                <input type="checkbox" id="commentNotifications" checked><br>
                <hr>
                <label for="likeNotifications">Likes</label><br>
                <small class="text-muted">Notifications are sent when someone likes your posts.</small><br>
                <input type="checkbox" id="likeNotifications" checked><br>
                <hr>
                <label for="tagsNotifications">Tags</label><br>
                <small class="text-muted">Notifications when someone tags you in a post/comment</small><br>
                <input type="checkbox" id="tagsNotifications" ><br>
                <hr>
                <label for="RequestsNotifications">Requests</label><br>
                <small class="text-muted">Get notifications when someone requests you to connect.</small><br>
                <input type="checkbox" id="RequestsNotifications" checked><br>
                <hr>
                <label for="MessagesNotifications">Messages</label><br>
                <small class="text-muted">Get notification for every newly arrived message.</small><br>
                <input type="checkbox" id="MessagesNotifications" ><br>

                <button class="btn btn-social m-2">Save Settings</button>
              </div>
</div>